In [92]:
import pandas as pd
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],index=['one','two','three'],columns=['a','b','c'])
print(df)

       a  b  c
one    1  2  3
two    4  5  6
three  7  8  9

In [94]:
df.to_excel("/Users/student/Downloads/kailash xlsx.xlsx")

In [96]:
df=pd.DataFrame([[10,20,30],[40,50,60],[70,80,90]],index=['four','five','six'],columns=['x','y','z'])
print(df)

       x   y   z
four  10  20  30
five  40  50  60
six   70  80  90

In [98]:
df.to_excel("/Users/student/Downloads/kailash xlsx1.xlsx")

In [100]:
df=pd.DataFrame([[6,7],[1,2]],index=['a','b'],columns=['x','y'])

In [102]:
df.to_excel("/Users/student/Downloads/kailash xlsx1.xlsx")

In [110]:
X=pd.read_excel("/Users/student/Downloads/kailash xlsx.xlsx")
Y=pd.read_excel("/Users/student/Downloads/kailash xlsx1.xlsx")
Z=pd.concat([X,Y])
Z.to_excel("/Users/student/Downloads/kailash xlsx2.xlsx")

In [112]:
import pandas as pd
df=Z.sort_values(["x"])
print(df)
df.to_excel("/Users/student/Downloads/kailash xlsx2.xlsx")

  Unnamed: 0    a    b    c    x    y
1          b  NaN  NaN  NaN  1.0  2.0
0          a  NaN  NaN  NaN  6.0  7.0
0        one  1.0  2.0  3.0  NaN  NaN
1        two  4.0  5.0  6.0  NaN  NaN
2      three  7.0  8.0  9.0  NaN  NaN

In [114]:
df=Z.sort_values(["y"])
print(df)
df.to_excel("/Users/student/Downloads/kailash xlsx2.xlsx")

  Unnamed: 0    a    b    c    x    y
1          b  NaN  NaN  NaN  1.0  2.0
0          a  NaN  NaN  NaN  6.0  7.0
0        one  1.0  2.0  3.0  NaN  NaN
1        two  4.0  5.0  6.0  NaN  NaN
2      three  7.0  8.0  9.0  NaN  NaN

In [120]:
df=pd.read_excel("/Users/student/Downloads/kailash xlsx.xlsx")
print(df,"\n")
print(list(df),"\n")
print(format(len(df)),"\n")

  Unnamed: 0  a  b  c
0        one  1  2  3
1        two  4  5  6
2      three  7  8  9

['Unnamed: 0', 'a', 'b', 'c']

3