In [2]:
import pandas as pd
d1={"name":["sai","sub","poo"],"age":[20,21,22]}
d2={"qualified":[True,True,False]}
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
newdf=df1.join(df2)
print(newdf)

  name  age
0  sai   20
1  sub   21
2  poo   22
   qualified
0       True
1       True
2      False
  name  age  qualified
0  sai   20       True
1  sub   21       True
2  poo   22      False

In [4]:
d2={"name":["kai","kani","hari"],"age":[20,21,22]}
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
newdf=df1.merge(df2,on="age")
print(df1,df2,newdf,sep="\n")

  name  age
0  sai   20
1  sub   21
2  poo   22
   name  age
0   kai   20
1  kani   21
2  hari   22
  name_x  age name_y
0    sai   20    kai
1    sub   21   kani
2    poo   22   hari

In [16]:
df=pd.DataFrame({'team':['A','B','C','D'],"points":[90,56,78,88],"assists":[12,34,23,44],"rebounds":[56,43,55,12]})
print(df,'\n\n')
df=pd.melt(df,id_vars="team",value_vars=["points","assists","rebounds"])
print(df)

  team  points  assists  rebounds
0    A      90       12        56
1    B      56       34        43
2    C      78       23        55
3    D      88       44        12


   team  variable  value
0     A    points     90
1     B    points     56
2     C    points     78
3     D    points     88
4     A   assists     12
5     B   assists     34
6     C   assists     23
7     D   assists     44
8     A  rebounds     56
9     B  rebounds     43
10    C  rebounds     55
11    D  rebounds     12

In [20]:
#data wrangling 2
import pandas as pd
data={'Name':['Sai','Yuvasri','Poovannan','Sabharish','Sangamithra','Rithika','Rubasri'],'Age':[20,18,19,20,18,17,19],'Gender':['M','F','M','M','F','F','F'],'Marks':[90,76,'NaN',74,65,'NaN',71]}
df=pd.DataFrame(data)
print("og dataframe:\n",df)
c=avg=0
for ele in df['Marks']:
    if str(ele).isnumeric():
        c+=1
        avg+=ele
avg=avg/c
df=df.replace(to_replace="NaN",value=avg)
print("\nreplacing NaN with avg marks:\n",df)

og dataframe:
           Name  Age Gender Marks
0          Sai   20      M    90
1      Yuvasri   18      F    76
2    Poovannan   19      M   NaN
3    Sabharish   20      M    74
4  Sangamithra   18      F    65
5      Rithika   17      F   NaN
6      Rubasri   19      F    71

replacing NaN with avg marks:
           Name  Age Gender  Marks
0          Sai   20      M   90.0
1      Yuvasri   18      F   76.0
2    Poovannan   19      M   75.2
3    Sabharish   20      M   74.0
4  Sangamithra   18      F   65.0
5      Rithika   17      F   75.2
6      Rubasri   19      F   71.0

/var/folders/w2/jykwyxmx79n6905fy_4s9glr0000gp/T/ipykernel_5850/3864816700.py:12: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df=df.replace(to_replace="NaN",value=avg)

In [22]:
df=df[df['Marks']>=75]
df=df.drop(['Age'],axis=1)
print("\n\n filtering and dropping funtion \n\n",df)

 filtering and dropping funtion

         Name Gender  Marks
0        Sai      M   90.0
1    Yuvasri      F   76.0
2  Poovannan      M   75.2
5    Rithika      F   75.2